body
{
    margin:0px;
}/* to remove all the resedual margins */
#body-header
{
    background-image: url("media/cover3.jpg");
    height:65vh;
    background-size:cover;
    background-position:top;
    background-attachment: fixed;
}
.horizontal-list
{
    list-style:none;
    padding-left:0px;
    margin:0px;
    padding-top:30px;
    font-weight: 900;
    font-size: 30px;
    font-family: sans-serif;
}
.horizontal-list li
{
    display:inline-block;
    margin:0px 12px 0px 12px;
}
.horizontal-list li a
{
    color:white;
    text-decoration:none;
    transition:color 0.2s;
}
.horizontal-list li a:hover
{
    color:orangered;
}
.text-center
{
    text-align: center;
}
#name-social-container
{
    margin-top:10vh;
}
#my-name
{
    font-size:5rem;
    letter-spacing: 0.6rem;
    color:white;
    font-weight:900;
    margin-bottom:0.5rem;
}
.social-icons li a img
{
    height:50px;
    width:50px;
    margin:0px 15px 0px 15px;
    border-radius: 50%;
    transition: box-shadow 0.25s;
}
.social-icons li a img:hover
{
    box-shadow:0px 0px 24px 5px white;
}
#about
{
    height:auto;
    width:100%;
    position:relative;
}
#my-image/* this is the div */
{
    height:15rem;
    width:15rem;
    margin:auto;
    margin-top:-15vh;
    border: 4px solid white;
    border-radius:50%;
    box-shadow: 0px 0px 12px 2px white;
}
#my-image img
{
    height:100%;
    width:100%;
    border-radius: 50%;
    /* these height and width are written in percentages, and percentage is a relative unit. so both of them will be 100% of their parent */
}
.about-text
{
    margin:5vh 20vw 0vh 20vw;
    font-family:monospace;
    font-weight:900;
    color:grey;
    font-size:20px;
    text-align: justify;
}
section
{
    width:100%;
    height:75vh;
    display:flex;
    flex-direction: column;
}
section:nth-child(2n)
{
    background-color:lightgray;
}
section:nth-child(2n+1)
{
    background-color: white;
}