body
{
    margin:0px;
}/* to remove all the resedual margins */
#body-header
{
    background-image: url("media/cover3.jpg");
    height:65vh;
    background-size:cover;
    background-position:top;
    background-attachment: fixed;
}
.horizontal-list
{
    list-style:none;
    padding-left:0px;
    margin:0px;
    padding-top:30px;
    font-weight: 900;
    font-size: 30px;
    font-family: sans-serif;
}
.horizontal-list li
{
    display:inline-block;
    margin:0px 12px 0px 12px;
}
.horizontal-list li a
{
    color:white;
    text-decoration:none;
    transition:color 0.2s;
}
.horizontal-list li a:hover
{
    color:orangered;
}
.text-center
{
    text-align: center;
}
#name-social-container
{
    margin-top:10vh;
}
#my-name
{
    font-size:5rem;
    letter-spacing: 0.6rem;
    color:white;
    font-weight:900;
    margin-bottom:0.5rem;
}
.social-icons li a img
{
    height:50px;
    width:50px;
    margin:0px 15px 0px 15px;
    border-radius: 50%;
    transition: box-shadow 0.25s;
}
.social-icons li a img:hover
{
    box-shadow:0px 0px 24px 5px white;
}
#about
{
    height:auto;
    width:100%;
    position:relative;
}
#my-image/* this is the div */
{
    height:15rem;
    width:15rem;
    margin:auto;
    margin-top:-15vh;
    border: 4px solid white;
    border-radius:50%;
    box-shadow: 0px 0px 12px 2px white;
}
#my-image img
{
    height:100%;
    width:100%;
    border-radius: 50%;
    /* these height and width are written in percentages, and percentage is a relative unit. so both of them will be 100% of their parent */
}
.about-text
{
    margin:5vh 20vw 5vh 20vw;
    font-family:monospace;
    font-weight:900;
    color:grey;
    font-size:20px;
    text-align: justify;
}
section
{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    align-items:center;/* works along cross axis */
}
section:nth-child(2n)
{
    background-color:rgb(245, 244, 244);
}
section:nth-child(2n+1)
{
    background-color: white;
}
.section-heading
{
    width:auto;
    padding:20px 10px 10px;
    font-weight: 400;
}
.section-heading span
{
    font-size: 40px;
    color:red;
    display:inline-block;
}
.section-heading span img
{
    width:40px;
    height:40px;/* to adjust skills image size */
}
/* skills */
#skill-heading
{
    position:relative;
    bottom:0.3rem;
}
.mb75px
{
    margin-bottom:75px;
}
.skills-display
{
    width:70%;
    height:inherit;
    /* height:100px;
    border:2px solid black; */
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items: center;
    padding-bottom:40px;
}
.color1
{
    background-color: #cb202d;
}
.color2
{
    background-color: #085ba7;
}
.color3
{
    background-color: #ed7125;
}
.color4
{
    background-color: #e54b27;
}
.color5
{
    background-color: #35a849;
}
.color6
{
    background-color: #7b0fc8;
}
.color7
{
    background-color: #1a79d3;
}
.color8
{
    background-color: #069d7e;
}
.color9
{
    background-color: #d1008b;
}
.skill-progress
{
    width:13rem;
    background-color:darkgrey;
    height:2.5rem;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 12px 1px black;
    margin:30px;
}
/* percentage-classes */
.eighty-five-percent
{
    width:85%;
    height:inherit;
    border-radius:0.8rem 0rem 0rem 0.8rem;
}
.ninety-percent
{
    width:90%;
    height:inherit;
    border-radius:0.8rem 0rem 0rem 0.8rem;
}
.eighty-percent
{
    width:80%;
    height:inherit;
    border-radius:0.8rem 0rem 0rem 0.8rem;
}
.seventy-five-percent
{
    width:75%;
    height:inherit;
    border-radius:0.8rem 0rem 0rem 0.8rem;
}
.skill-name
{
    color:white;
    padding-left:15px;
    padding-top:10px;
}
/* timeline */
.timeline-divider
{
    position:absolute;
    height:75%;
    width:0%;
    border:1px dashed #784eff;
    top:10%;
    left:50%;
}
.timeline-traveller
{
    position:sticky;
    top:20%;
    transform:rotate(90deg);
}
.timeline
{
    position: relative;
    width: 75%;
}
.timeline-box
{
    position:relative;
    width:40%;
    min-height:150px;
    left:5%;
    background-color: rgb(243, 243, 243);
    margin:5px;
    display:flex;
    flex-direction: column;
}
.timeline-box:nth-child(n)
{
    align-items: flex-end;
}
.timeline-box:nth-child(2n)
{
    left:54%;
}
.timeline-box-headings span
{
    display:flex;
    flex-direction:column;
}
.timeline-box-headings span img
{
    height:50px;
    width:50px;
    margin:10px;
}
.timeline-box-title
{
    color:#0000a9;
    font-weight: 900;
    font-size:20px;
    font-family: sans-serif;
}
.timeline-box:nth-child(n) .timeline-box-headings span:nth-child(2)
{
    position:relative;
    align-items:flex-end;
    flex-wrap: wrap;
}
.timeline-box:nth-child(2n) .timeline-box-headings span:nth-child(2)
{
    position:relative;
    align-items:flex-start;
}
.timeline-box-company-name
{
    color:orange;
    font-size: large;
    font-family:comic sans ms;
    font-weight:bold;
}
.timeline-box-duration
{
    color:darkslategrey;
}
.timeline-box-headings
{
    /* margin: 6px auto 3px; */
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin:20px;
    width:90%;
    flex-wrap: wrap;
}
.timeline-box-description
{
    margin:20px;
    width:80%;
    text-align: justify;
    justify-content: center;
}